# docker-compose -f docker-compose.yml up
services:
  nginx:
    build:
      context: ./src/nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "9527:9527"
    volumes:
      - ./src/nginx/conf.d:/etc/nginx/conf.d
      - nginx_html:/usr/share/nginx/html
     # 托管目录赋权
    command: sh -c "chmod -R 755 /usr/share/nginx/html && nginx -g 'daemon off;'"
    networks:
      - backend

  jenkins:
    build:
      context: ./src/jenkins
      dockerfile: Dockerfile
    user: root
    environment:
      - JENKINS_OPTS=--httpPort=8080
      - JENKINS_UC=https://mirrors.huaweicloud.com/jenkins/updates/update-center.json # 华为镜像 原始默认值为https://updates.jenkins.io/
      # - HTTP_PROXY=http://your-proxy-server:port
      # - HTTPS_PROXY=http://your-proxy-server:port
      # - NO_PROXY=localhost,127.0.0.1
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home # 命名卷 保证Jenkins配置及数据持久化
      - nginx_html:/usr/share/nginx/html # 与nginx共享一个命名卷 推送静态文件
    networks:
      - backend

volumes:
  jenkins_home:
  nginx_html:

networks:
  backend:
    driver: bridge
